body{
    margin:0;
    background:#111;
    color:white;
    font-family:Arial;
}

.screen{
    display:none;
    width:100vw;
    height:100vh;
}

.active{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.upload-btn{
    background:green;
    padding:20px;
    border-radius:12px;
    cursor:pointer;
}

#reader-container{
    height:100vh;
    overflow-y:auto;
    padding-bottom:120px;
}

#reader{
    width:90%;
    margin:auto;
    font-size:32px;
    line-height:1.8;
}

.dock{
    position:fixed;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    background:#222;
    padding:20px;
    border-radius:20px;
    display:flex;
    gap:10px;
}

.dock button{
    width:60px;
    height:60px;
    border:none;
    border-radius:50%;
    font-size:22px;
    cursor:pointer;
}
